*{
  margin:0;
  padding: 0;
  text-align: center;
  font-family: Roboto;
}

.pic{
  height: 170px;
  width: 350px;
  margin-top: 0px;
  padding-top: 0ch;

}

.nav{
  height:200px;}

  .ico{
    height: 00px;
    size: 300px;
  }

  .pi{
    height: 50px;
  }

  /* .badge{
    height: 10px;
  } */

